.main {
    border: 1px solid rgb(47, 47, 47);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &>div {
        border-right: 1px solid rgb(47, 47, 47);
        padding: 15px;
        width: 100%;

        &:last-child {
            border: none;
        }

        p {
            text-align: right;
            margin: 0;
            font-style: italic;
            padding-bottom: 5px;
        }
        .last {
            margin-bottom: 20px;
        }
    }
}